<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="" />

  <!-- You can edit the following information -->
  <title>Schweizer 5</title>
  <meta name="description" content="Schweizer5 Event Location in Frankfurt am Main">
  <meta name="keywords"
    content="Event, Location, Salon, Konzerte, Empfänge, Veranstaltungen, Veranstaltungsort, Soiree, Frankfurt, Main, Germany">

  <!-- open graph -->
  <meta property="og:title" content="Schweizer 5" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="./uploads/schweizer5-eventlocation-frankfurt-1.jpg" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:description" content="Schweizer 5 Event Location in Frankfurt am Main" />

  <!-- structured data -->
  <script type="application/ld+json">
			[{
				"@context": "https://schema.org",
				"@type": "EventVenue",
				"maximumAttandeeCapacity": "99",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Schweizer Strasse 5"
					"postalCode": "60594",
					"addressLocality": "Frankfurt am Main",
					"addressCountry": "Germany",
				},
				"telephone": "+491739658394",
				"description": "Schweizer 5 Event Location in Frankfurt am Main",
				"image": "./uploads/schweizer5-eventlocation-frankfurt-1.jpg",
				"name": "Schweizer5",
				"url": "",
			}]
		</script>

  <!-- favicon -->
  <meta name="Generator" content="encoding.group">

</head>

<body class="home">

  <header>
    <div class="top">
      <div class="logo" title="Schweizer 5">
        <h1>Schweizer</h1>
        <div class="icon">
          <img src="./images/schweizer5-logo.svg" />
        </div>
      </div>
      <nav>
        <a class="scroll" href="#rental-request" title="Rental Request" rel="section">Rental Request</a>
      </nav>
    </div>
  </header>

  <main id="main">

    <div class="layout color beige para" data-height="12" data-width="9" data-para-speed="1"></div>

    <div class="layout text" data-width="7" data-left="1" data-top="-8" lang="de">
      <p>{{{content.text1de}}}</p>
    </div>

    <div class="layout color olive para" data-height="20" data-width="8" data-left="2" data-top="1.5"
      data-para-speed="0.5"></div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-1" data-width="7"
      data-top="-20.5" data-para-speed="1.5">
    </figure>

    <div class="layout text white" data-width="8" data-left="1" data-top="-4" lang="en">
      <p>{{{content.text1en}}}</p>
    </div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-2" data-width="9" data-left="1"
      data-top="1" data-para-speed="2">
    </figure>

    <div class="layout text" data-width="8" data-left="1" lang="de">
      <p>{{{content.text2de}}}</p>
    </div>

    <div class="layout color petrol para" data-height="11" data-width="9" data-top="1.1" data-para-speed="0.75"></div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-3" data-width="8"
      data-top="-11.5" data-para-speed="1.5">
    </figure>

    <div class="layout text white" data-width="6" data-left="1" data-top="-5" lang="en">
      <p>{{{content.text2en}}}</p>
    </div>

    <div class="layout color olive para" data-height="8" data-width="9" data-left="1" data-top="1.5"
      data-para-speed="0.5"></div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-4" data-width="8" data-left="2"
      data-top="-9" data-para-speed="2">
    </figure>

    <div class="layout color beige para" data-height="11" data-width="9" data-top="-2" data-para-speed="1"></div>

    <div class="layout text" data-width="7" data-left="1" data-top="-10" lang="de">
      <p>{{{content.text3de}}}</p>
    </div>

    <div class="layout color petrol para" data-height="15" data-width="8" data-left="2" data-top="5.5"
      data-para-speed="0.5"></div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-5" data-width="8"
      data-top="-20" data-para-speed="1.5">
    </figure>

    <div class="layout text white" data-width="6" data-top="-5" data-left="1" lang="en">
      <p>{{{content.text3en}}}</p>
    </div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-6" data-width="7"
      data-top="0.5" data-left="3" data-para-speed="2">
    </figure>

    <div class="layout table" data-width="4" data-top="-8" data-left="0.5" lang="en">
      <div>

        <h3>Features</h3>
        <ul>
          <li>Max <i>99</i> people standing</li>
          <li>Max <i>60-70</i> people seated</li>
          <li><i>150 m²</i></li>
          <li>3 rooms, (<i>2 > 30 m²</i>), customizable</li>
          <li>Catering kitchen</li>
          <li>Flexible catering partner</li>
          <li>Wi-Fi</li>
          <li>Outdoor spaces (terrace and garden)</li>
        </ul>

        <h3><a target="_blank" title="Find address on Google Maps"
            href="https://goo.gl/maps/jMFanuSynf3aoLfS7">Venue</a></h3>
        <ul>
          <li>Schweizer Strasse 5</li>
          <li>Museum district</li>
          <li>Frankfurt a.M. / Sachsenhausen Nord</li>
          <li>Subway Station: Gartenstrasse <i>200 m</i></li>
          <li>Public Car Park: Parkhaus Untermainanlage <i>500 m</i></li>
          <li>Main train station: Frankfurt Hbf <i>1000 m</i></li>
          <li><a target="_blank" title="Find address on Google Maps" href="https://goo.gl/maps/jMFanuSynf3aoLfS7">See on
              Map</a></li>
        </ul>

      </div>
    </div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-7" data-width="8"
      data-top="0.5" data-para-speed="1.5">
    </figure>

  </main>

  <footer lang="en">

    <div class="contact" id="rental-request">
      <h2>Rental Request</h2>
      <h3>Franci Rotariu<br />General Manager</h3>
      <address>
        <p>
          <a target="_blank" title="Find address on Google Maps" href="https://goo.gl/maps/jMFanuSynf3aoLfS7">
            Schweizer Strasse 5<br />
            <i>60594</i> Frankfurt am Main
          </a>
        </p>
        <p>
          <a class="phone numbers" title="Call Franci Rotariu now" href="tel:+491739658394">+49 173 965 83 94</a><br />
          <a class="email" title="Send an Email request to request@schweizer5.de"
            href="mailto:request@schweizer5.de">request@schweizer5.de</a>
        </p>
      </address>
    </div>

    <aside>
      <a title="Open imprint in new tab" href="imprint.html" target="_blank" rel="nofollow">Imprint</a>
      <ul class="credits" title="&copy; 2020">
        <li>Photografie: <a href="https://marinaackar.de" target="_blank" title="marinaackar.de">Marina Ackar</a></li>
        <li>Form: <a href="http://surfacegrafik.de" target="_blank" title="surfacegrafik.de">Markus Weisbeck</a></li>
        <li>Coding: <a href="https://encoding.group" target="_blank" title="encoding.group">Moritz Ebeling</a></li>
      </ul>
    </aside>

    <div class="layout color beige para" data-height="6" data-width="9" data-para-speed="0.5"></div>

  </footer>

</body>

</html>