<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="" />

  <!-- prefetch, preload, preconnect -->

  {{!-- <script src="assets/js/rellax.js"></script> --}}

  <!-- You can edit the following information -->
  <title>Schweizer 5</title>
  <meta name="description" content="Schweizer5 Event Location in Frankfurt am Main">
  <meta name="keywords"
    content="Event, Location, Salon, Konzerte, Empfänge, Veranstaltungen, Veranstaltungsort, Soiree, Frankfurt, Main, Germany">

  <!-- open graph -->
  <meta property="og:title" content="Schweizer 5" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="uploads/schweizer5-eventlocation-frankfurt-1.jpg" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:description" content="Schweizer 5 Event Location in Frankfurt am Main" />

  <!-- structured data -->
  <script type="application/ld+json">
			[{
				"@context": "https://schema.org",
				"@type": "EventVenue",
				"maximumAttandeeCapacity": "99",
				"address",

				"telephone": "+49 173 9658394",
				"description": "Schweizer 5 Event Location in Frankfurt am Main",
				"image": "uploads/schweizer5-eventlocation-frankfurt-1.jpg",
				"name": "Schweizer5",
				"url": "",
			}]
		</script>

  <!-- favicon -->
  <meta name="Generator" content="encoding.group">

</head>

<body class="home">

  <header>
    <div class="top">
      <div class="logo" title="Schweizer 5">
        <h1>Schweizer</h1>
        <div class="icon">
          <img src="uploads/schweizer5-logo.svg" />
        </div>
      </div>
      <nav>
        <a class="scroll" href="#rental-request" title="Rental Request" rel="section">Rental Request</a>
      </nav>
    </div>
    <div class="rellax color beige width-9" data-rellax-speed="-1"></div>
  </header>

  <main id="main">

    <div class="deko height-1">
      <div class="rellax color olive width-8 offset-2 height-14" data-rellax-speed="-1"></div>
      <figure class="rellax width-7" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-1.jpg" />
      </figure>
    </div>

    <div class="text height-6">
      <div lang="de">
        <p>{{ content.text1de }}</p>
      </div>
    </div>

    <div class="text height-6">
      <div lang="en">
        <p>{{ content.text1en }}</p>
      </div>
    </div>

    <div class="deko">
      <div class="rellax color petrol width-9 height-11" data-rellax-speed="-1"></div>
      <figure class="rellax width-9 offset-1" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-2.jpg" />
      </figure>
    </div>

    <div class="text">
      <div lang="de">
        <p>{{ content.text2de }}</p>
      </div>
    </div>

    <div class="deko">
      <div class="rellax color olive width-9 offset-1 height-5" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-3.jpg" />
      </figure>
    </div>

    <div class="text">
      <div lang="en">
        <p>{{ content.text2en }}</p>
      </div>
    </div>

    <div class="deko">
      <div class="rellax color beige width-9 height-7" data-rellax-speed="-1"></div>
      <figure class="rellax width-8 offset-2" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-4.jpg" />
      </figure>
    </div>

    <div class="text">
      <div lang="de">
        <p>{{ content.text3de }}</p>
      </div>
    </div>

    <div class="deko">
      <div class="rellax color petrol width-9 offset-1 height-14" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-5.jpg" />
      </figure>
    </div>

    <div class="text">
      <div lang="en">
        <p>{{ content.text3en }}</p>
      </div>
    </div>

    <div class="deko">
      <figure class="rellax width-7 offset-3" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-6.jpg" />
      </figure>
    </div>

    <div class="table">
      <div>{{{ content.facts }}}</div>
    </div>

    <div class="deko">
      <div class="rellax color beige width-9 height-7" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-rellax-speed="1">
        <img width="100%" height="auto" alt="Schweizer5" src="uploads/schweizer5-eventlocation-frankfurt-7.jpg" />
      </figure>
    </div>

  </main>

  <footer>

    <div class="contact" id="rental-request">
      <h2>Rental Request</h2>
      <h3>Franci Rotariu<br />General Manager</h3>
      <address>
        <p>
          Schweizer Strasse 5<br />
          60594 Frankfurt am Main
        </p>
        <p>
          +49 173 9658394<br />
          <a href="mailto:" title="">request@schweizer5.de</a>
        </p>
      </address>
    </div>

    <aside>
      <a title="Open imprint in new tab" href="imprint.html" target="_blank" rel="nofollow">Imprint</a>
      <ul class="credits" title="&copy; 2020">
        <li>Photografie: <a href="" target="_blank" title="vornamenachname.de">Vorname Nachname</a></li>
        <li>Form: <a href="https://surfacegrafik.de" target="_blank" title="surfacegrafik.de">Surface Grafik</a>
        </li>
        <li>Coding: <a href="https://encoding.group" target="_blank" title="encoding.group">Moritz Ebeling</a>
        </li>
      </ul>
    </aside>
  </footer>
</body>

</html>