<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="" />

  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{#each meta.keywords}}{{this}},{{/each}}">

  <!-- open graph -->
  <meta property="og:title" content="{{meta.title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="{{meta.image}}" />
  <meta property="og:locale" content="de_DE" />
  <meta property="og:description" content="{{meta.description}}" />

  <!-- structured data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "EventVenue",
    "maximumAttandeeCapacity": "99",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Frankfurt am Main, Germany",
      "postalCode": "60594",
      "streetAddress": "Schweizer Strasse 5"
    },
    "telephone": "+49 173 9658394",
    "description": "Schweizer 5 Event Location in Frankfurt am Main",
    "image": "content/images/schweizer5-eventlocation-frankfurt-1.jpg",
    "name": "Schweizer5",
    "url": ""
  }
  </script>

  <!-- favicon -->
  <meta name="Generator" content="encoding.group">

</head>

<body class="home">
  <header>
    <div class="top">
      <div class="logo" title="Schweizer 5">
        <h1>Schweizer</h1>
        <div class="icon">
          <img src="uploads/schweizer5-logo.svg" />
        </div>
      </div>
      <nav>
        <a class="scroll" href="#rental-request" title="Rental Request" rel="section">Rental Request</a>
      </nav>
    </div>
    <div class="rellax color beige width-9" data-rellax-speed="-1"></div>
  </header>

  <main id="main">

    <div class="deko height-1">
      <div class="rellax color olive width-8 offset-2 height-14" data-rellax-speed="-1"></div>
      <figure class="rellax width-7" data-imagename="schweizer5-eventlocation-frankfurt-1" data-rellax-speed="1">
      </figure>
    </div>

    <div class="text height-6">
      <div lang="de">
        {{{ content.text1de }}}
      </div>
    </div>

    <div class="text height-6">
      <div lang="en">
        {{{ content.text1en }}}
      </div>
    </div>

    <div class="deko">
      <div class="rellax color petrol width-9 height-11" data-rellax-speed="-1"></div>
      <figure class="rellax width-9 offset-1" data-imagename="schweizer5-eventlocation-frankfurt-2"
        data-rellax-speed="1">
      </figure>
    </div>

    <div class="text">
      <div lang="de">
        {{{ content.text2de }}}
      </div>
    </div>

    <div class="deko">
      <div class="rellax color olive width-9 offset-1 height-5" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-imagename="schweizer5-eventlocation-frankfurt-3" data-rellax-speed="1">
      </figure>
    </div>

    <div class="text">
      <div lang="en">
        {{{ content.text2en }}}
      </div>
    </div>

    <div class="deko">
      <div class="rellax color beige width-9 height-7" data-rellax-speed="-1"></div>
      <figure class="rellax width-8 offset-2" data-imagename="schweizer5-eventlocation-frankfurt-4"
        data-rellax-speed="1">
      </figure>
    </div>

    <div class="text">
      <div lang="de">
        {{{ content.text3de }}}
      </div>
    </div>

    <div class="deko">
      <div class="rellax color petrol width-9 offset-1 height-14" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-imagename="schweizer5-eventlocation-frankfurt-5" data-rellax-speed="1">
      </figure>
    </div>

    <div class="text">
      <div lang="en">
        {{{ content.text3en }}}
      </div>
    </div>

    <div class="deko">
      <figure class="rellax width-7 offset-3" data-imagename="schweizer5-eventlocation-frankfurt-6"
        data-rellax-speed="1">
      </figure>
    </div>

    <div class="table">
      <div>{{{ content.facts }}}</div>
    </div>

    <div class="deko">
      <div class="rellax color beige width-9 height-7" data-rellax-speed="-1"></div>
      <figure class="rellax width-8" data-imagename="schweizer5-eventlocation-frankfurt-7" data-rellax-speed="1">
      </figure>
    </div>

  </main>

  <footer>

    {{>contact data=info}}
    {{>credits data=credits}}

  </footer>
</body>

</html>