<!doctype html>
<html lang="de">

<head>
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  {{{generateMetaTags meta info}}}
  {{{generateOpenGraph meta info}}}
  {{{generateJsonLd meta info}}}

  <style>
    .fade-in {
      -webkit-animation: fadein 2s;
      -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
      animation: fadein 2s;
    }
    @keyframes fadein {
      from { opacity: 0; } to { opacity: 1; }
    }
    @-moz-keyframes fadein {
      from { opacity: 0; } to { opacity: 1; }
    }
    @-webkit-keyframes fadein {
      from { opacity: 0; } to { opacity: 1; }
    }
    @-ms-keyframes fadein {
      from { opacity: 0; } to { opacity: 1; }
    }
    @-o-keyframes fadein {
      from { opacity: 0; } to { opacity: 1; }
    }
    figure {
      display: none !important;
    }
  </style>

</head>

<body class="home">

  <header>

    <div class="top">

      <div class="logo" title="Schweizer 5">
        <h1>Schweizer</h1>
        <div class="icon">
          <img alt="Schweizer 5 Logo" src="./images/schweizer5-logo.svg" />
        </div>
      </div>

      <nav>
        <a class="scroll" href="#rental-request" title="Rental Request" rel="section">Rental Request</a>
      </nav>

    </div>

    <section data-width="9">
      <div class="layout text" lang="de">
        {{{content.text1de}}}
      </div>
    </section>

    <div class="layout color beige"></div>

  </header>

  <main id="main" class="fade-in">

    <section>
      <div class="layout text white" lang="en">
        {{{content.text1en}}}
      </div>
      <div class="layout color olive para" data-para-speed="0.5"></div>
    </section>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-1" data-width="7" data-para-speed="1">
    </figure>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-2" data-width="9" data-para-speed="2">
    </figure>

    <section>
      <div class="layout color petrol para" data-para-speed="0.5"></div>
      <div class="layout text" lang="de">
        {{{content.text2de}}}
      </div>
    </section>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-3" data-width="8" data-para-speed="1.5">
    </figure>

    <section>
      <div class="layout color olive para" data-para-speed="0.5"></div>
      <div class="layout text white" lang="en">
        {{{content.text2en}}}
      </div>
    </section>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-4" data-width="8" data-left="2" data-para-speed="2.5">
    </figure>

    <section>
      <div class="layout color beige para" data-para-speed="1"></div>
      <div class="layout text" lang="de">
        {{{content.text3de}}}
      </div>
    </section>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-5" data-width="8" data-para-speed="1.5">
    </figure>

    <section>
      <div class="layout color petrol para" data-para-speed="0.5"></div>
      <div class="layout text white" lang="en">
        {{{content.text3en}}}
      </div>
    </section>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-6" data-width="7" data-left="3" data-para-speed="2">
    </figure>

    <div class="layout table" data-width="4" lang="en">
      <div>

        <h3>Features</h3>
        <ul>
          <li>Max <i>99</i> people standing</li>
          <li>Max <i>60-70</i> people seated</li>
          <li><i>150&nbsp;m²</i></li>
          <li>3 rooms, (<i>2&nbsp;>&nbsp;30&nbsp;m²</i>), customizable</li>
          <li>Catering kitchen</li>
          <li>Flexible catering partner</li>
          <li>Wi-Fi</li>
          <li>Outdoor spaces (terrace and garden)</li>
        </ul>

        <h3><a target="_blank" title="Find address on Google Maps" {{{href info.contact.google}}}>Venue</a>
        </h3>
        <ul>
          <li><a target="_blank" class="no-underline" title="Find address on Google Maps" {{{href info.contact.google}}}>Schweizer Strasse&nbsp;5</a></li>
          <li>Museum district</li>
          <li>Frankfurt a.M. / Sachsenhausen Nord</li>
          <li>Subway Station: Gartenstrasse <i>200&nbsp;m</i></li>
          <li>Public Car Park: Parkhaus Untermainanlage <i>500&nbsp;m</i></li>
          <li>Main train station: Frankfurt Hbf <i>1000&nbsp;m</i></li>
          <li><a target="_blank" title="Find address on Google Maps" {{{href info.contact.google}}}>See on
              Map</a></li>
        </ul>

      </div>
    </div>

    <figure class="layout image para" data-imagename="schweizer5-eventlocation-frankfurt-7" data-width="8" data-para-speed="1.5">
    </figure>

  </main>

  <footer class="fade-in layout" lang="en">

    <div class="text">
      {{>contact data=info}}
    </div>

    {{>credits data=credits}}

    <div class="layout color beige"></div>

  </footer>

</body>

</html>
